*,::after,::before{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
li{
    list-style-type:none;
}
a{
    text-decoration:none;
    color: none;
}
button{
    border:0 ;
    background-color:none
}
