.main-container{
    max-width: 1280px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-wrap-no{
 flex-wrap: nowrap;
}
.jc-center{
    justify-content: center;
}
.jc-flex-start{
    justify-content: flex-start;
}
.jc-flex-end{
    justify-content: flex-end;
}
.jc-space-between{
    justify-content: space-between;
}
.jc-space-around{
    justify-content: space-around;
}
.ai-center{
    align-items: center;
}
.ai-start{
    align-items: start;
}
.ai-end{
    align-items: end;
}
.text-dec{
    text-decoration:line-through;
}
.fw-bold{
    font-weight: bold;
}